@import "reset.css";

body {
    background-color: #f6f9fc;
    font-family: 'Nanum Gothic', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

.canvas {
    width: 700px;
    height: 700px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.controls .controls-range {
    margin-bottom: 30px;
}

.controls .controls-range input {
    cursor: pointer;
}

.controls .controls-btns {
    margin-bottom: 30px;
}

.controls-btns button {
    width: 80px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.8);
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition: transform 150ms ease-in-out;
}

.controls-btns button + button {
    margin-left: 5px;
}

.controls-btns button:active {
    transform: scale(0.95);
}

.controls .controls-colors {
    display: flex;
    align-items: center;
}

.controls-colors .basic-colors {
    display: flex;
    border-radius: 6px;
    padding: 10px 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.basic-colors .controls-color {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

.basic-colors li + li {
    margin-left: 10px;
}

.controls-color:nth-child(1) {
    background-color: #000000;
}

.controls-color:nth-child(2) {
    background-color: #ffffff;
}

.controls-color:nth-child(3) {
    background-color: #ff3b30;
}

.controls-color:nth-child(4) {
    background-color: #ff9500;
}

.controls-color:nth-child(5) {
    background-color: #ffcc00;
}

.controls-color:nth-child(6) {
    background-color: #4cd963;
}

.controls-color:nth-child(7) {
    background-color: #5ac9fa;
}

.controls-color:nth-child(8) {
    background-color: #0579ff;
}

.controls-color:nth-child(9) {
    background-color: #5856d6;
}

.controls-colors .custom-colors {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

