@import "reset.css";

body {
    background-color: #f6f9fc;
    font-family: 'Chilanka', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

.canvas {
    width: 700px;
    height: 500px;
    margin-bottom: 30px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
}

.controls .controls-range {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.controls .controls-range .range-icon {
    font-size: 26px;
    margin-right: 10px;
    color: #0579ff;
}

.controls .controls-range input {
    cursor: pointer;
}

.controls .controls-btns {
    margin-bottom: 30px;
}

.controls-btns button {
    width: 80px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 12px 20px 10px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.8);
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition: all 150ms ease-in-out;
}

.controls-btns button + button {
    margin-left: 5px;
}

.controls-btns button:hover {
    box-shadow: 0 5px 8px rgba(50, 50, 93, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
}

.controls-btns button:active {
    transform: scale(0.95);
}

.controls .controls-colors {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

.controls-colors .basic-colors {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 6px;
    padding: 10px 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.basic-colors .controls-color {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

.basic-colors li + li {
    margin-left: 10px;
}

.controls-color:nth-child(1) {
    background-color: #000000;
}

.controls-color:nth-child(2) {
    background-color: #ffffff;
}

.controls-color:nth-child(3) {
    background-color: #ff3b30;
}

.controls-color:nth-child(4) {
    background-color: #ff9500;
}

.controls-color:nth-child(5) {
    background-color: #ffcc00;
}

.controls-color:nth-child(6) {
    background-color: #4cd963;
}

.controls-color:nth-child(7) {
    background-color: #5ac9fa;
}

.controls-color:nth-child(8) {
    background-color: #0579ff;
}

.controls-color:nth-child(9) {
    background-color: #5856d6;
}

.controls-color:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at top, #e36969, transparent),
                radial-gradient(circle at right, #ffec00, transparent),
                radial-gradient(circle at left, #0080ff, transparent),
                radial-gradient(circle at bottom, #00ff2a, transparent);
}

.controls-color:last-child input {
    width: 40px;
    height: 40px;
    margin-left: 0;
    border-radius: 50%;
    opacity: 0;
    cursor: pointer;
}

.controls-colors .custom-colors {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

/*@media screen and (min-width: 1080px){
    body {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    .canvas {
        margin-right: 50px;
    }

}*/

